.panel-heading{background-color: #ecf9ff;border-color: #ddd;}

#syy{
	font-size:13px;
	border-radius:0px;
}
#xyy{
	font-size:13px;
	border-radius:0px;
}
 .label-primary {
	font-size:13px;
	border-radius:0px;font-weight: normal;
}
 .label-default {
	font-size:13px;
	background-color: #F5EFEF;color:#1D2F3F;font-weight: normal;
}

.pagination .active a{
	font-size:13px;
background-color: #ff4400;
border: #ff4400;
}
.pagination .active a:hover{
	font-size:13px;
background-color: #E57850;
border: #ff4400;
}

.label-primary{
	font-size:13px;
background-color: #ff4400;
border: #ff4400;
}
.pagination  li a{
color:#1D2F3F;
font-size:13px;
}
 .form-group label{
  font-weight: normal;
color:#454545;
font-size:13px;
  }
 .btn-primary:hover{
color: white;
background-color: #00A9FF;
border-color: #029ae8;
}
.btn-primary{
background-color: #0498D8;
font-size: 13px;
}
.btn-default{
	font-size: 13px;
	
}
.pager-form label{
	font-weight: normal;
	
}
#zdid{
	font-size:13px;
	height: 30px;border-radius:0px;
}
#sousuo{
	background-color: #6ccdff;border-color: #58c2f8;
}
#shanchu{
	
	background-color: #6ccdff;border-color: #58c2f8;
}
.btn-warning:hover{
color: white;
background-color: #FCB456;
border-color: #ff9100;
}
.btn-warning{
background-color: #ff9100;
}
#upload-full-img{
width: 160px;
border-radius:3px;

background-color: #ededed;
    background-image: linear-gradient(#fff, #e4e3e3);
    border: 1px solid #b1b1b1;
    color:#746D6D;
    font-family: "ï¿½ï¿½ï¿½ï¿½";
    height:27px;
   
    font-size:12px;
    line-height: 15px;
    text-align: center;
}
#upload-full-img2{
	width: 160px;
border-radius:3px;

background-color: #ededed;
    background-image: linear-gradient(#fff, #e4e3e3);
    border: 1px solid #b1b1b1;
    color:#746D6D;
    font-family: "ï¿½ï¿½ï¿½ï¿½";
    height:27px;
   
    font-size:12px;
    line-height: 15px;
    text-align: center;
	
}
#dpgltable tr td{
	line-height: 22px;
	
}
.form-control::-moz-placeholder{
	
	color: #ccc;
}.pager li > a, .pager li > span{
border-radius: 0px;
margin-left: 3px;
}
#dpgltable tr td a{
	margin-left: 8px;
	
}
#test1{
	position:relative;
}
#test1:hover .enter-step-btn{
	display:inline-block;
	cursor: pointer;
}
#test1:hover{
	box-shadow: 0px 0px 10px #DDD; 
}
.enter-step-btn {
    display: none;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}
.unclick{
	
	position:absolute;
	width:140px;
	height:42px;
	color:#fff;
	font-family:Adobe ºÚÌå Std;
	font-size:14px;
	line-height: 24px;
	text-align:center;
	left:170px;
	top:240px;
	background:#ccc;
	padding: 6px 12px;
	border-radius:4px;
	display:inline-block;
	
}



@charset "utf-8";

/* Remove margin padding */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin:0; padding:0; }

/* Default Font */
/*body,button,input,select,textarea { font:12px/1.5 \5b8b\4f53,arial,sans-serif; }*/
h1,h2,h3,h4,h5,h6 { font-size:100%; }
address,cite,dfn,em,var { font-style:normal; }
code,kbd,pre,samp { font-family:courier new,courier,monospace; }
small { font-size:12px; }
ul,ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
legend { color:#000; }
fieldset,img { border:0; }
button,input,select,textarea{ font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

.col-main{ float:left; width:100%; min-height:1px; }
.col-sub,.col-extra { float:left; }
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after { content:'\20'; display:block; height:0; clear:both; }
.layout,.main-wrap,.col-sub,.col-extra { zoom:1; }

/* Common Features */
.hidden { display:none; }
.invisible { visibility:hidden; }

/* Remove Float */
.clear { display:block; height:0; overflow:hidden; clear:both; }
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }

/* For non ie browsers also display the vertical scroll bar by default, to prevent the flicker caused by the scroll bar */
html { overflow-y:scroll; }



body { height:auto; }

.top { padding-top:80px; }
.menu { position:relative; width:auto; margin:0px auto; height:40px; background-color:#E4393C; }
.menu div { position:absolute; top:0px; height:40px; font-family:"Microsoft Yahei"; }
.menu .all-sort { left:0px; width:210px; text-align:center; font-size:14px; }
.menu .all-sort a { color:#FFF; display:block; width:100%; height:100%; line-height:40px; }
.menu .ad { right:0px; width:141px; }
.menu .nav { left:210px; }
.menu .nav ul li { float:left; width:85px; line-height:40px; }
.menu .nav ul li a { display:block; width:100%; color:#FFF; text-align:center; font:700 15px/40px "Microsoft Yahei"; }


.wrap { width:auto; margin:0px auto; }
.all-sort-list { position:relative; width:203px;  border-top:none; padding:3px 3px 3px 0px; height:400px; cursor: pointer;}
/* .all-sort-list .item {  border-top:1px solid #FFFFFF; } */
.all-sort-list .item.bo { border-top:none; } 
.all-sort-list .item h3 { height:28px; line-height:28px;  font-size:14px; font-weight:normal; width:250px;  }
.all-sort-list .hover h3 { position:relative; z-index:13;   }
.all-sort-list .item span { padding:0px 5px; color:#999; font-family:"\5B8B\4F53"; } 
.all-sort-list .item a { color:#000; text-decoration:none; }



.all-sort-list .item-list { 
	display:none;
	position:absolute;
	width:775px;
	min-height:200px;
	_height:200px;
	background:#FFF;
	left:248px;
	box-shadow:0px 0px 10px #DDDDDD;
	border:1px solid #DDD;
	top:-20px;
	
	z-index:10;
}


.item-list .subitem { float:left; width:707px; padding:0px 4px 0px 8px; }
.item-list .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.item-list .subitem .fore1 { border-top:none; }
.item-list .subitem dt { float:left; width:104px; line-height:22px; text-align:left; padding:3px 6px 0px 0px; font-weight:700; color:#E4393C; }
.item-list .subitem dt a { color:#00a9ff; text-decoration:underline;font-weight: normal; }
.item-list .subitem dd { float:left; width:695px; padding:3px 0px 0px; overflow:hidden; }
.item-list .subitem dd em { float:left; height:14px; line-height:14px; padding:0px 8px; margin-top:5px; border-left:1px solid #CCC; }
.item-list .subitem dd em a, .item-list .cat-right dd a { color:#666; text-decoration:none; }



/*nav-left end*/
/*SuperSlide start*/
.slideBox{  height:339px; overflow:hidden; margin-left: 200px; position: relative;margin-top: -270px;}
.slideBox .hd{ height:15px; width:100px; overflow:hidden; position:absolute; left:50%; bottom:5px; margin-left:-50px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; text-align:center;  margin:0 auto; }
.slideBox .hd ul li{ float:left; margin:0 4px;  width:11px; height:11px; overflow: hidden; text-align:center; cursor:pointer;background:url(http://theme.xiaolajiao.com/themes/newxlj/images/bg_icon.png) no-repeat -169px 0;  display: inline;}
.slideBox .hd ul li.on{ background:url(http://theme.xiaolajiao.com/themes/newxlj/images/bg_icon.png) no-repeat -169px -11px; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:99%; height:439px; display:block; margin-left: auto; }

.slideBox .prev, .slideBox .next {position: absolute;top: 0;  height: 100%;z-index: 1000;width: 41px;text-indent: -9999em;overflow: hidden;background-image: url(http://theme.xiaolajiao.com/themes/newxlj/images/icon-slides.png);_background-image: url(images/icon-slides.gif);
    background-repeat: no-repeat;_filter: alpha(opacity=40);background-position: -84px center;}
.slideBox .prev:hover, .slideBox .next:hover {filter: alpha(opacity=100);opacity: 1;}
.slideBox .prev:hover{background-position: 0 center;}
.slideBox .next:hover {background-position: -42px center;}
.slideBox .prev{ background-position: -84px center;}
.slideBox .next {right:0; background-position: -125px center;}
/*SuperSlide end*/


