<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.0.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
    ">

	<!-- 默认扫描的包路径 -->
   	<context:component-scan base-package="com.bc.controller" />     	 	

	<!-- 设Spring 响应编码的格式，text/plain是关键，勿写为text/html -->
  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">    
        <property name="messageConverters">    
            <list> 
            	<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />    
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">    
                    <property name="supportedMediaTypes">    
                        <list>  
                            <value>text/plain;charset=UTF-8</value>  
                        </list>    
                    </property>    
                </bean> 
                <bean class="org.springframework.http.converter.ResourceHttpMessageConverter" >    
                </bean>    
            </list>    
        </property>    
    </bean>  
    
    	<!-- 添加注解驱动 -->
 	<mvc:annotation-driven /> 
 	

	<!-- 拦截器 -->
	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="util.spring.interceptor.SecurityInterceptor">
				<property name="excludeUrls">
					<list>
						<value>/member/index.jsp</value>
						<value>/member/intercept</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
 			<mvc:mapping path="/join/**" /> 
			<mvc:mapping path="/member/**" />
			<mvc:mapping path="/trade/**" />
			<mvc:mapping path="/purchase/**" />
			<mvc:mapping path="/comment/**" />
			<bean class="util.spring.interceptor.AdvancedInterceptor">
				<property name="excludeUrls">
					<list>
						<value>/member/index.jsp</value>
						<value>/member/brandList</value>
						<value>/member/factoryList</value>
						<value>/member/fctList</value>
						<value>/member/specList</value>		
						<value>/member/getSelectValue</value>
						<value>/member/autopartTypeList</value>
						<value>/member/autopartList</value>		
						<value>/member/autopartInfoList</value>
						<value>/member/verifyRecord</value>
						<value>/member/passWordAndTelRecord</value>
						<value>/member/userKind</value>	
						<value>/member/getSelectValuename</value>	
						<value>/member/getProvince</value>
						<value>/maintain/carModal</value>
						<value>/member/getMessages</value>									
					</list>
				</property>
			</bean>
		</mvc:interceptor>
		<bean class="util.spring.interceptor.ExceptionInterceptor" />
	</mvc:interceptors>
 	
 	
 	
	<!-- 定义跳转的文件的前后缀 -->
 	<bean id="viewResolver" 
 		class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
 		<property name="prefix" value="/" /> 
 		<property name="suffix" value=".jsp" /> 
 	</bean> 
 	
	<!--  	实例化缓存服务远程连接的地址       -->
 	<bean id="remoteBufferUrl1" class="java.lang.String"> 
 		<constructor-arg value="http://192.168.2.243:8091/generalbuffer.hs"/>  
 	</bean> 
 	
 		<bean id="remoteServerUrl3" class="java.lang.String">  
  		<constructor-arg value="http://192.168.2.243:8092/pei.hs"/>   
  	</bean> 
 	<!--  	实例化缓存服务远程连接的地址(带有Spring事务处理机制)       -->
  	<bean id="remoteBufferUrl2" class="java.lang.String">  
  		<constructor-arg value="http://192.168.2.243:8091/basicbuffer.hs"/>   
  	</bean>  
 	
 	<!--  	实例化缓存服务远程连接的地址(带有Spring事务处理机制)       -->
<!--  	<bean id="remoteBufferUrl2" class="java.lang.String">  -->
<!--  		<constructor-arg value="http://192.168.1.46:8080/buffer-demo/basicbuffer.hs"/>   -->
<!--  	</bean>  -->
 	
  	<bean id="remoteServerUrl1" class="java.lang.String">  
  		<constructor-arg value="http://192.168.2.243:8090/customer.hs"/>   
  	</bean>  
 	
<!--  	 <bean id="remoteServerUrl1" class="java.lang.String">  -->
<!--  		<constructor-arg value="http://192.168.1.46:8080/server-demo/customer.hs"/>   -->
<!--  	</bean>  -->
 	
  	<bean id="remoteServerUrl2" class="java.lang.String">  
  		<constructor-arg value="http://192.168.2.243:8090/pei.hs"/>   
 	</bean>  
 	
   	<bean id="pushServerUrl" class="java.lang.String">  
  		<constructor-arg value="http://113.247.250.212:8091/push.hs"/>   
  	</bean> 
  	
  	<bean id="pushService" class="com.bc.serviceImpl.PushServiceImpl">
		<property name="url" ref="pushServerUrl" />
	</bean>	
 	
 	
 	<bean id="urlPath" class="java.lang.String">  
  		<constructor-arg value="http://www.cdzer.com/"/>   
  	</bean> 
 	
 	
 	<bean id="sessionService" class="com.bc.session.BccSession">
 	</bean>
	
	<!--  	实例化持久层服务类，供controller注入使用       -->
 	<bean id="customerService" class="com.bc.serviceImpl.CustomerServiceImpl"> 
 		<property name="url"  ref="remoteServerUrl1" />
 	</bean> 
 	
 	<!--  	实例化持久层服务类，供controller注入使用       -->
 	<bean id="peiService" class="com.bc.serviceImpl.PeiServiceImpl"> 
 		<property name="url"  ref="remoteServerUrl2" />
 	</bean> 
 	<!--  	实例化维修库持久层服务类，供controller注入使用       -->
 	<bean id="repairService" class="com.bc.serviceImpl.RepairServiceImpl"> 
 		<property name="url"  ref="remoteServerUrl3" />
 	</bean> 
 	
 	<!--  	实例化缓存服务类，供controller注入使用       -->
 	<bean id="bufferService" class="com.bc.serviceImpl.BufferServiceImpl">
 		<property name="url"  ref="remoteBufferUrl1" />
 	</bean> 
 	
	<!--带有Spring事务处理机制 -->
 	<bean id="sdrBufferService" class="com.bc.serviceImpl.SdrBufferServiceImpl">
 		<property name="url"  ref="remoteBufferUrl2"/>
 	</bean> 
 	

</beans>